<div class="container">
    <h1 class="title">THÊM SẢN PHẨM</h1>
    <form (ngSubmit)="Create()" [formGroup]="productForm">
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name" id="exampleInputName"
                aria-describedby="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputPrice" class="form-label">Price</label>
            <input type="number" class="form-control" formControlName="price" id="exampleInputPrice"
                aria-describedby="price">
        </div>
        <div class="mb-3">
            <label for="exampleInputImage" class="form-label">Image</label>
            <input type="text" class="form-control" formControlName="img" id="exampleInputImage"
                aria-describedby="image">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>
    </form>
</div>